body {
  background-color: rgb(53, 53, 65)!important;
}

.App{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.row{
  display: block!important;
}

@media (max-width: 1200px){
  .App{
    flex-direction: column;
  }
}